a.darkmode {
  position: fixed;
  top: 2em;
  right: 2em;
  color: var(--text);
  background: var(--background);
  height: 3em;
  width: 3em;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: 2px solid var(--border);
  box-shadow: 0 0 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  transition: 0.2s ease-in box-shadow;
}

a.darkmode .icon-moon,
a.darkmode .icon-sun {
  position: absolute;
  width: 1.25em;
  height: 1.25em;
}

a.darkmode .icon-moon svg,
a.darkmode .icon-sun svg {
  width: 100%;
  height: 100%;
}

a.darkmode .icon-moon {
  display: block;
}

a.darkmode .icon-sun {
  display: none;
}

[data-theme="dark"] a.darkmode .icon-moon {
  display: none;
}

[data-theme="dark"] a.darkmode .icon-sun {
  display: block;
}

a.darkmode:hover {
  box-shadow: 0 0 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
}

@media only screen and (max-width: 600px) {
  a.darkmode {
    top: unset;
    bottom: 1em;
    right: 1em;
  }
}
